* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  overflow-x: hidden;
  background: var(--background);
  color: var(--main);
}
h1,
h2,
h3,
h4 {
  text-align: center;
}
h2 {
  margin-bottom: 2em;
  margin-top: 2em;
}
#message {
  margin-top: 1em;
}
h3 {
  color: var(--dark-gray);
}
p {
  margin: 1em auto;
  max-width: 80vw;
  line-height: 2em;
}
a {
  text-decoration: none;
  color: var(--dark-blue);
}
a:hover {
  color: var(--light-gray);
}
ul {
  list-style-type: square;
  padding-left: 0;
}
.mod {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 80vw;
}
.sm {
  width: 40vw;
}
.modules {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.module {
  display: flex;
  justify-content: center;
}
.module > a {
  width: 20vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
  border-radius: 1em;
}
.module > a > i {
  font-size: 60px;
}
.active {
  background: var(--light-blue);
  color: var(--icon);
}
.active:hover {
  color: var(--light-blue);
  background: var(--icon-hover);
}
.filiere {
  background: var(--light-green);
  color: var(--icon);
}
.filiere:hover {
  color: var(--light-green);
  background: var(--icon-hover);
}
.inactive {
  background: var(--light-gray);
  color: var(--icon);
}
.inactive:hover {
  background: var(--light-gray);
  color: var(--icon);
}
footer {
  margin-top: 20vh;
}
footer a {
  color: var(--dark-green);
}
table,
th,
td {
  border: 1px solid var(--main);
  border-collapse: collapse;
}
td,
th {
  min-width: 25vw;
  padding: 1em 0;
  text-align: center;
}
.key {
  display: flex;
  margin: 2em 0;
  align-items: center;
  width: 50vw;
  justify-content: center;
}
.key > div {
  margin: 0 0.5em;
  height: 3vh;
  width: 2vw;
}
.video_plug {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: var(--light-red);
  margin: 2em auto;
  width: 30vw;
}
.video_plug:hover {
  cursor: pointer;
  color: var(--dark-red);
}
.video_plug i {
  font-size: 36px;
  margin-right: 0.25em;
}
.nouveau sup {
  background: var(--dark-red);
  color: #ffffff;
  padding: 0.25em;
  border-radius: 0.5em;
  font-weight: bold;
  font-size: 10px;
  position: relative;
  top: -0.75em;
}
.updated {
  background: var(--updated);
  color: #ffffff;
  font-weight: bold;
  font-size: 10px;
  position: relative;
  top: -0.75em;
  padding: 0.25em;
  border-radius: 0.5em;
}
.prof {
  background: var(--prof);
  color: #ffffff;
  font-weight: bold;
  font-size: 10px;
  position: relative;
  top: -0.75em;
  padding: 0.25em;
  border-radius: 0.5em;
}
.filiere__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filiere__description img {
  display: block;
  width: 50vw;
}
#light,
#dark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding: 0.5em 0;
  margin: 1em;
  border-radius: 10px;
}
#light i,
#dark i {
  font-size: 30px;
  margin-right: 5px;
}
.mood {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 700px) {
  body {
    font-size: 90%;
  }
  p {
    max-width: 95vw;
  }
  .mod {
    margin: 0;
    width: 100vw;
    flex-direction: column;
  }
  .sm {
    width: 90vw;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .sm > ul {
    list-style: none;
  }
  .module {
    flex-direction: column;
  }
  .module > a {
    width: 80vw;
    height: 25vh;
  }
  td,
  th {
    min-width: 45vw;
  }
  .key > div {
    margin: 0 1em;
  }
  .video_plug {
    width: 90vw;
    font-size: 18px;
  }
  .filiere__description img {
    width: 90vw;
  }
}
